/** @format */

.imgsize {
  width: 300px;
}
.jCkMTG {
  -webkit-animation: Lmuha 0.3s ease forwards;
  animation: Lmuha 0.3s ease forwards;
  background: #e8e8eb;
  border-radius: 0 18px 18px 18px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 15%);
  color: black;
  display: inline-block;
  font-size: 14px;
  max-width: 50%;
  margin: -5px 5px 10px 41px;
  overflow: hidden;
  position: relative;
  padding: 12px;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
}
.fpamDd {
  -webkit-animation: Lmuha 0.3s ease forwards;
  animation: Lmuha 0.3s ease forwards;
  background: #1aafb3;
  border-radius: 0 18px 18px 18px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 15%);
  color: #fff;
  display: inline-block;
  font-size: 14px;
  max-width: 50%;
  margin: -5px 5px 10px 41px;
  overflow: hidden;
  position: relative;
  padding: 12px;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
}
.gkhNlr {
  margin: 2px 0 12px 41px;
  flex-direction: row;
  padding: 0 6px;
}
.eSRrVD {
  background: rgb(72, 145, 252);
  border: 0;
  border-radius: 22px;
  color: white;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 15%);
  display: inline-block;
  font-size: 14px;
  padding: 12px;
}
.ddGuwm {
  -webkit-animation: Lmuha 0.3s ease forwards;
  animation: Lmuha 0.3s ease forwards;
  background: #e8e8eb;
  border-radius: 18px 18px 18px 0;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 15%);
  color: black;
  display: inline-block;
  direction: rtl;
  font-size: 14px;
  max-width: 50%;
  margin: 0 0 10px 0;
  overflow: hidden;
  position: relative;
  padding: 12px;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: bottom left;
  -ms-transform-origin: bottom left;
  transform-origin: bottom left;
}

.frnaiQ {
  -webkit-animation: Lmuha 0.3s ease forwards;
  animation: Lmuha 0.3s ease forwards;
  background: #e8e8eb;
  border-radius: 0 18px 18px 0px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 15%);
  color: black;
  display: inline-block;
  font-size: 14px;
  max-width: 50%;
  margin: -5px 5px 10px 41px;
  overflow: hidden;
  position: relative;
  direction: rtl;
  padding: 12px;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
}
.rsc-ts-bubble {
  direction: rtl;
}
.dropBot {
  padding: 12px 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  border: 1px solid #ccc;
  direction: rtl;
  font-size: 1rem;
  border-radius: 4px;
  box-sizing: border-box;
}
.BotDataShow {
  width: 80%;
}
.BotTable {
  width: 100%;
  border-collapse: collapse;
}
.BotTable tr,
td {
  direction: rtl;
  text-align: right;
  padding: 8px;
}
.BotTable tr:nth-child(even) {
  background-color: #f2f2f2;
}
.Botform {
  width: 100%;
}
.BotContaine {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  direction: rtl;
  width: 100%;

  flex-wrap: nowrap;
}
.BotformDiv {
  width: 50%;
}
