.SearchResults {
  height: 100%;
  width: 100%;
  padding-right: 3%;
  display: flex;
  flex-direction: column;
  direction: rtl;
}

.NewsFormSearch {
  display: flex;
  flex-direction: column;
}

.NewsFormSearch .NewsItemfromSearch {
  margin: 10px, 0;
}
.NewsFormSearch .NewsItemfromSearch {
  display: flex;
  width: 800px;
}

.NewsFormSearch .NewsItemfromSearch div {
  margin-right: 15px;
}
.NewsFormSearch .NewsItemfromSearch img {
  width: 300px;
  max-height: 400px;
}
.NewsFormSearch hr {
  margin: 10px 0;
}
.NewsFormSearch .NewsFromSearchTitle {
  margin-bottom: 10px;
}
.SectionFromSearchTitle {
  margin: 10px 0;
}
.SectionFromSearch hr {
  margin: 10px 0;
}
