/** @format */

.AdminGallery {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 95%;
  height: 100%;
  background-color: rgba(245, 245, 245, 0.87);
}
.listAdminInG{
  display: grid;
  grid-template-columns: 10% 90%;
  direction: rtl;
}
.listt{
  margin-top: 40px;
}
.AdminGallery .UploadPhotoForm {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 5px;
  text-align: center;
  margin: 0;
}
.EditSlideShowPage2{
  height: 43px;
  margin-right: 5px;
  text-decoration: none;
  position: absolute;
  right:0%;
  top:0%;
  border-style: none;
  text-align: left;
  border-radius: 30px;
  font-size: 1.4rem;
  /* background-color: #171f73; */
  width: 60px;
}
.AdminGallery .UploadPhotoFormLable input {
  height: 0;
  width: 0;
  opacity: 0;
}
.AdminGallery .UploadPhotoFormLable {
  display: block;
  text-align: center;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 24px;
  line-height: 30px;
  border: 1px solid #efb6b2;
  color: rgba(173, 75, 75, 0.89);
}
.AdminGallery .UploadPhotoFormLable:hover {
  background-color: #efb6b2;
  color: white;
  cursor: pointer;
}

.AdminGalleryContent {
  width: 100%;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(4, 1fr);
}
.AdminGalleryContent img {
  width: 300px;
  height: 300px;
}
.GalleryHeading {
  margin-bottom: 20px;
}
.AdminGalleryImg {
  direction: rtl;
  padding: 5px;
  opacity: 0.9;
}
.AdminGalleryImg input {
  position: absolute;
  font-size: 30px;
  font-weight: 40;
  width: 40px;
  height: 40px;
  opacity: 0.4;
  background-color: red;
  border: none;
  border-radius: 5%;
}
.AdminGalleryImg input:hover {
  opacity: 1;
  cursor: pointer;
}
.AdminGallery .UploadPhotoForm .progress-bar {
  background: #efb6b2;
  height: 5px;
}
