/** @format */
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://use.typekit.net/lfw8lae.css');
.AddDoctorsButton {
  background-color: #285c7e !important ;
  color: white;
  width: 200px;
  font-size: 1.3rem;
  margin-top: 50px;
  padding: 5px;
  height: 40px;
}
.EditSlideShowPage2 {
  height: 43px;
  margin-right: 5px;
  text-decoration: none;
  position: absolute;
  right: 0%;
  top: 0%;
  border-style: none;
  text-align: left;
  border-radius: 30px;
  font-size: 1.4rem;
  /* background-color: #171f73; */
  width: 60px;
}
.container {
  display: flex;
  flex-direction: column;
  direction: rtl;
}
.AddDoctorsButtonDiv {
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  width: 200px;
}
.ContentContainer {
  width: 100%;
}
.DoctorBody {
  display: grid;
  grid-template-rows: auto auto auto;
}
.buttonAddDoctors,
.buttonShowDoctor {
  text-align: center;
  padding-bottom: 5px;
  padding-top: 5px;
}
.buttonAddDoctors button {
  background-color: white;
  color: black;
  border: 2px solid #008cba;
  font-size: 1.5rem;
  font-weight: bold;
}
.buttonShowDoctor button {
  background-color: white;
  color: black;
  border: 2px solid #008cba;
  font-size: 1.5rem;
  font-weight: bold;
}
.buttonAddDoctors button:hover {
  background-color: #008cba;
  color: white;
}
.buttonShowDoctor button:hover {
  background-color: #008cba;
  color: white;
}
.doctoerDetails {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 80%;
  margin: auto;
  gap: 2px;
}
.doctoerDetailsIn {
  border: 2px solid #008cba;
}
.cardd {
  padding-left: 70px;
}
.buttonX {
  font-size: 30px;
  font-weight: 40px;
  color: black;
  width: 40px;
  height: 40px;
  background-color: red;
  border: none;
}
.editorD {
  font-size: 30px;
  width: 40px;
  height: 40px;
}
.towButton {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.ff {
  direction: rtl;
}
.motaz {
  width: 100%;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.editorDoctor {
  display: grid;
  direction: rtl;
  text-align: center;
}
