/** @format */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://use.typekit.net/lfw8lae.css');
.overlyForm {
  z-index: 9;
  position: absolute;
  direction: rtl;
  text-align: center;
  background-color: #c5cae9;
  width: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  right: 510px;
  top: 100px;
  padding: 10px;
}
.FormEditDoctor {
  direction: rtl;
  text-align: right !important;
}
.FormEditDoctor input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  direction: rtl;
  font-size: 1rem;
  border-radius: 4px;
  box-sizing: border-box;
}
.EDITDOCTORSUBMIT {
  width: 100%;
  background-color: #2bbbad;
  color: white;
  opacity: 0.8;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.EDITDOCTORSUBMIT:hover {
  opacity: 1;
  width: 99%;
}
.DeleteButtonDoctor {
  position: absolute;
  height: 40px;
  width: 40px;
  right: 0px;
  top: 0px;
  font-size: 1.4rem;
  padding: 7px;
  border: none;
  border-radius: 10px;
  background-color: rgb(228, 72, 72);
  margin-right: 5px;
  margin-top: 6px;
  opacity: 0.8;
}
.DeleteButtonDoctor:hover {
  opacity: 1;
}
.FormEditDoctor label {
  direction: rtl;
  margin-top: 15px;
  margin-bottom: 5px;
  padding-right: 5px;
  font-size: 1.3rem;
  text-align: right !important;
}
.headerDoctors {
  padding-top: 20px;
  display: grid;
  grid-template-rows: auto auto;
}
.chooseTheCampos {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  margin-bottom: 15px;
}
.chooseTheCampos select {
  font-size: large;
  width: fit-content;
  padding-right: 15px;
}
.listAdminn {
  display: grid;
  grid-template-columns: 10% 90%;
  direction: rtl;
}

.ll {
  margin-top: 30%;
}
.EditSlideShowPage2 {
  height: 43px;
  margin-right: 5px;
  text-decoration: none;
  position: absolute;
  right: 0%;
  top: 0%;
  border-style: none;
  text-align: left;
  border-radius: 30px;
  font-size: 1.4rem;
  width: 60px;
}
.ButtonAddD {
  background-color: white;
  color: black;
  margin-left: 5px;
  width: 200px;
  border: 2px solid #008cba;

  font-size: large;
}

.ButtonAddD:hover {
  background-color: #008cba;
  color: white;
}
.doctoerDetails {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-right: 15px;
  margin-top: 50px;
  row-gap: 20px;
}
.editorD {
  font-size: 30px;
  width: 40px;
  height: 40px;
}
#FORMD {
  width: 60%;
  margin: auto;
}
#FORMD label {
  font-size: x-large;
}
.motaz {
  width: 100%;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: large;
}
.wrapper,
.wrapper .img-area {
  background: #ecf0f3;
  box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1;
}
.wrapper {
  width: 90%;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.wrapper .img-area {
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inner-area img {
  height: 150px;
  width: 150px;
  object-fit: cover;
}
.wrapper .name {
  font-size: 23px;
  font-weight: 500;
  color: #31344b;
  margin: 10px 0 5px 0;
}
.wrapper .about {
  color: #44476a;
  font-weight: 400;
  font-size: 16px;
}
.wrapper .buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.buttonE {
  background-color: #ffbb33;
  border-radius: 5px;
  font-size: 17px;
  padding: 12px 0;
  width: 100%;
  border: none;
  opacity: 0.8;
  margin-right: 5px;
  padding-left: 15px;
}
.buttonD {
  background-color: #cc0000;
  border-radius: 5px;
  font-size: 17px;
  padding: 12px 0;
  width: 100%;
  border: none;
  opacity: 0.8;
  padding-left: 15px;
}

.buttonE:hover {
  opacity: 1;
}
.buttonD:hover {
  opacity: 1;
}
