/** @format */
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://use.typekit.net/lfw8lae.css');
.DoctorBody{
  display: grid;
  grid-template-rows: auto auto auto;
}
.buttonAddDoctors ,.buttonShowDoctor{
  text-align: center;
  padding-bottom: 5px;
  padding-top: 5px;
}
.buttonAddDoctors button {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
  font-size: 1.5rem;
  font-weight: bold;
}
.buttonShowDoctor button{
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
  font-size: 1.5rem;
  font-weight: bold;
}
.buttonAddDoctors button:hover {
  background-color: #008CBA;
  color: white;
}
.buttonShowDoctor button:hover{
  background-color: #008CBA;
  color: white;
}
.doctoerDetails{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  width: 80%;
  margin: auto;
  gap: 2px;
}
.doctoerDetailsIn{
  border: 2px solid #008CBA;
}
.cardd{
  padding-left: 70px
}
.buttonX{
  font-size: 30px;
  font-weight: 40px;
  color: black;
  width: 40px;
  height: 40px;
  background-color: red;
  border: none;
}
.editorD{
  font-size: 30px;
  width: 40px;
  height: 40px;
}
.towButton{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.ff{
direction: rtl;
}
input[type=text] {
  width: 100%;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
input[type=text]:focus {
  border: 3px solid #555;
}
.editorDoctor{display: grid;
  direction: rtl;
  text-align: center;}