.Branches {
  display: grid;
  align-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  padding: 10px;
  width: 100%;

}
.cardBranch {
 /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);*/

  transition: 0.3s;
  margin: 15px;
  width: 90%;
  height: max-content;
  border-radius: 5px;
}

.cardContainer {
  padding: 2px 16px;
}
.cardContainer h4 {
  text-align: right;
  
  font-size: 20px;
  color: #285c7e ;
  display: inline-block;
}
.cardContainer h4:hover {
  text-decoration: underline;
  color: #285c7e;
  text-underline-position: under;
}
.cardContainer h6 {
  text-align: right;
}
.cardBranchImg {
  border-radius: 5px;
  width: 100%;
  object-fit:contain; 
  height: auto;
}
.cardBranch a {
  color: black;
}
.line {
  border-top: 1px solid black;
  width: 85%;
  margin-left: 7%;
}
@media screen and (max-width: 800px) {
  .cardBranch{
    width: 100%;

  }  
  .cardBranchImg{
    width: 80%;
  }
  .Branches{
    padding: 0;
   

  }
  .cardContainer{
    padding: 0;
  }
  .cardContainer h4{
    
    display: flex;

  }
  .cardBranch:hover{
    box-shadow:none;
  }
}