/** @format */
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

.Branches {
  display: grid;
  align-content: center;
  grid-template-columns: repeat(3, 1fr);

  padding-right: 30px;
  width: 100%;
}
.cardBranch {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);*/

  transition: 0.3s;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  height: max-content;
  border-radius: 5px;
}

.cardContainer {
  padding: 2px 16px;
}
.cardContainer h4 {
  text-align: right;
  font-family: 'Rubik', sans-serif;
  font-weight: normal;
  font-size: 32px;
  color: #285c7e !important;
  display: inline-block;
}
.cardContainer h4:hover {
  text-decoration: underline;
  color: #285c7e;
  text-underline-position: under;
}
.cardContainer h6 {
  text-align: right;
}
.cardBranchImg {
  border-radius: 5px;
  width: 250px;
  height: 250px;
}
.cardBranch a {
  color: black;
}
.line {
  border-top: 1px solid black;
  width: 85%;
  margin-left: 7%;
}
@media screen and (max-width: 800px) {
  .cardBranch {
    width: 100%;
  }
  .cardBranchImg {
    width: 200px;
    height: 200px;
  }
  .Branches {
    padding: 0;
  }
  .cardContainer {
    padding: 0;
  }
  .cardContainer h4 {
    display: flex;
  }
  .cardBranch:hover {
    box-shadow: none;
  }
}
@media screen and (max-width: 650px) {
  .cardBranch {
    width: 100%;
  }
  .cardBranchImg {
    width: 85%;
    height: 140px;
  }
  .Branches {
    padding: 0;
  }
  .cardContainer {
    padding: 0;
  }
  .cardContainer h4 {
    display: flex;
    font-size: 16px;
  }
  .cardBranch:hover {
    box-shadow: none;
  }
}