/** @format */

.contactUS {
  text-align: right;
  float: right;
  width: 100%;
  margin-top: 20px;
}
.contactUS h5 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px;
  color: #272727 !important;
  font-family: 'Rubik', sans-serif !important;
}
.contactUS h2 {
  color: #285c7e !important;
}
.contactUS h4 {
  color: #285c7e !important;
  font-family: 'Rubik', sans-serif !important;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 43px;
}
.contactUS a {
  text-decoration: none;
}
.contactUS h5 a {
  color: #285c7e !important;
  font-weight: 400;
  font-family: 'Rubik', sans-serif !important;
  text-decoration: none;
}
.contactUS h5 a:hover {
  color: #285c7e;
  text-decoration: underline;
}
.contactUS button {
  border-radius: 12px;
  width: 85%;
  height: auto;
  background-color: white;
  font-size: 20px;
  color: black;
}
.contactUS button div {
  padding-top: 3px;
  padding-bottom: 3px;
}
@media screen and (max-width: 800px) {
  .contactUS button {
    width: 80%;
  }
}
