.one-card img {
  border-radius: 5px;
  box-shadow: -1px 0 0 rgb(0 0 0 / 10%), -3px 0 9px rgb(0 0 0 / 15%);
  box-sizing: border-box;
  width: 150px;
  height: 150px;
}
 .contenerS{
  width: 70%;
}  
.one-card {
  text-align: center;
  transition: 0.3s;
  height: max-content;
  border-radius: 5px;
  width: 100%;
}
.card-container {
  padding-bottom: 2px;
  text-align: center;
}
