.hide {
}
.display {
  display: block;
}
#one {
  text-align: center;
}
#two {
  display: none;
  text-align: center;
}
#three {
  display: none;
  text-align: center;
}
#four {
  display: none;
  text-align: center;
}

.dropbtn {
  background-color: #3498db;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.EditSlideShowPage2{
  height: 43px;
  margin-right: 5px;
  text-decoration: none;
  position: absolute;
  right:0%;
  top:0%;
  border-style: none;
  text-align: left;
  border-radius: 30px;
  font-size: 1.4rem;
  /* background-color: #171f73; */
  width: 60px;
}
.dropbtn:hover,
.dropbtn:focus {
  background-color: #2980b9;
}

.dropdown {
  text-align: center;
  margin: auto;
  padding: 2rem;
}
.dropSelect {
  margin: 2rem;
}

.finalStage {
  justify-content: center;
  align-items: center;
  width: 100%;
}

.finalStage input {
  border: none;
  border-radius: 5px;
  background-color: #36a8f5;
  font-size: 1.34rem;
  padding: 8px;
}
