/** @format */

.Header {
  margin-left: 15px;
  margin-right: 15px;
  /* margin-bottom: 1px; */
  width: 100%;
}
.Header img {
  width: 600px;
}

.HeaderContanier {
  display: flex;
  width: 100%;
  padding-left: 20px;
  margin: 0 auto;
  padding-right: 20px;
  flex-direction: column;
}

.HeaderUpperSection {
  display: flex;
  direction: rtl;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  margin-top: 15px;
}
.HeaderUpperSection input {
  height: 43px;
  font-size: 1.4rem;
  font-weight: 30;
  direction: rtl;
  color: #151e4d;
  border-color: rgba(153, 153, 153, 0.26);
  border-width: 1px;
  border-left: none;
  padding-right: 10px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
}
.HeaderUpperSection ::placeholder {
  color: #171f73;
}
.HeaderUpperSection .SearchButton {
  height: 43px;
  text-decoration: none;
  border-style: none;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  font-size: 1.4rem;
  background-color: #171f73;
  width: 60px;
}

.HeaderUpperSection button:hover {
  background-color: #ea3d84;
}
.accessLeft {
  display: grid;
  grid-template-columns: auto auto auto;
}

@media screen and (max-width: 1024px) {
  .Header img {
    width: 430px;
  }
  .accessLeft {
    /* display: grid; */
    grid-template-columns: auto auto auto;
  }
}
@media screen and (max-width: 800px) {
  .Header {
    display: none;
  }
  .accessLeft {
    /* display: grid; */
    grid-template-columns: auto auto auto;
  }
}
