.MoblieHeader {
  display: none;
}

@media screen and (max-width: 800px) {
  .MoblieHeader {
    display: flex;
    justify-content: space-between;
    direction: rtl;
    align-items: center;
    width: 100%;
    padding: 10px;
  }
  .MoblieHeader img {
    width: 120px;
    height: 100px;
  }
  .MoblieHeader button {
    border: none;
    background: none;
    z-index: 11;
  }
}
