
#myImg:hover {
  opacity: 0.7;
}
.modelImg{
  display: block;
  text-align: center;
}
.modal {
  display: none; 
  position: fixed;
  z-index: 1; 
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0, 0, 0); 
  background-color: rgba(0, 0, 0, 0.9); 
}
#imgg{
 object-fit: cover;
 height:500px;
}