/** @format */

.myslide {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: max-content;
  margin: 0 auto;
}

.myslide img {
  width: 50%;

  height: 355px;

  box-shadow: -1px 0 0 rgb(0 0 0 / 10%), -3px 0 9px rgb(0 0 0 / 15%);
  box-sizing: border-box;
}

.slideShow-container {
  position: relative;
  height: max-content;
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  border: none;
  top: 50%;

  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Position the "next button" to the right */
.next {
  right: 30px;
  border-radius: 3px 0 0 3px;
}
.prev {
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 1300px) {
  .slideShow-container {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .slideShow-container {
    display: none;
  }
  .slideShow-container img {
    height: 305px;
  }
}
