.sliderr0 {
  display: grid;
  grid-template-columns: 1% 97% 1%;
  grid-template-rows: 360px;
}

@media screen and (max-width: 700px) {
  .nextt0 button {
    width: 50%;
    font-size: x-large;
  }
  .Backk0 button {
    width: 30%;
    font-size: x-large;
  }
}
.slideInner___2mfX9 {
  width: 125%;
}

.myslide {
  width: 100%;
  height: 360px;
  margin: 0 auto;
}

.myslide img {
  width: 95%;
  height: 358px;
  box-shadow: -1px 0 0 rgb(0 0 0 / 10%), -3px 0 9px rgb(0 0 0 / 15%);
  box-sizing: border-box;
}

.slideShow-container {
  position: relative;
  width: 100%;
  height: 360px;
  padding-left: 32px;
}
.prev,
.next {
  /* cursor: pointer; */
  position: absolute;
  border: none;
  top: 50%;
  width: auto;
  padding: 12px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  /* user-select: none; */
  background-color: rgba(0, 0, 0, 0.4);
}

/* Position the "next button" to the right */
.next {
  right: -11px;
  border-radius: 3px 0 0 3px;
}
.prev {
  left: 8px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 1300px) {
  .slideShow-container {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .slideShow-container {
    display: none;
  }
  .slideShow-container img {
    height: 305px;
  }
}
