/** @format */
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
.Subject_Container {
  width: 100%;
  direction: rtl;
  display: block;
  margin-top: 40px;
  padding-left: 20px;
  padding-right: 30px;
  font-family: 'Rubik', sans-serif;
  margin-bottom: 90px;
}
.Subject_Container h2 {
  text-align: right;
  font-size: 43px;
  margin-bottom: 20px;
  direction: rtl;
  font-weight: 700;
  line-height: normal;
  text-align: right;
  font-family: 'Rubik' sans-serif;
  color: #263c4a !important;
}
.Subject_Container button {
  background-color: #285c7e !important ;
  color: white;
  font-weight: normal;
  justify-items: right;
  justify-content: right;
  font-size: 1.5rem;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 50px;
  padding-left: 50px;
  border-radius: 10px;
}
.Subject_row {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  direction: rtl;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.Subject {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  position: relative;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  direction: rtl;
  justify-content: center !important;
  align-items: center;
  flex-wrap: wrap;
}
.Subject img {
  width: 20%;
  margin-bottom: 15px;
  object-fit: cover;
}
.Subject h5 {
  min-height: 50px;
  position: relative;
  align-items: center;
  font-size: 20px;
  text-decoration-thickness: auto;
  line-height: normal;
  justify-content: center;
  direction: rtl;
  color: #285c7e !important;
}
.Subject h5 {
  text-align: center;
  font-size: 22px;
  direction: rtl;
  color: #285c7e !important;
}
@media screen and (max-width: 800px) {
  .Subject_row {
    grid-template-columns: repeat(3, 1fr);
  }
  .Subject_Container h2 {
    margin: 0;
  }
  .Subject h5 {
    min-height: auto;
    padding-right: 5px;
  }
  .Subject {
    width: 50%;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .Subject img {
    align-items: center;
    width: 50%;
  }
  .Subject_Container {
    max-width: 100%;
    padding: 0;
    display: inline-block;
  }
}
@media screen and (max-width: 500px) {
  .Subject_row {
    grid-template-columns: repeat(2, 1fr);
  }
  .Subject_Container h2 {
    margin: 0;
  }
  .Subject h5 {
    min-height: auto;
    padding-right: 5px;
  }
  .Subject {
    width: 50%;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .Subject img {
    align-items: center;
    width: 50%;
  }
  .Subject_Container {
    max-width: 100%;
    padding: 0;
    display: inline-block;
  }
}
