/** @format */
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://use.typekit.net/lfw8lae.css');
.AddResearchesButton {
  background-color: #285c7e !important ;
  color: white;

  width: 200px;
  font-size: 1.3rem;
  margin-top: 50px;
  padding: 5px;
  height: 40px;
}
.EditSlideShowPage2{
  height: 43px;
  margin-right: 5px;
  text-decoration: none;
  position: absolute;
  right:0%;
  top:0%;
  border-style: none;
  text-align: left;
  border-radius: 30px;
  font-size: 1.4rem;
  /* background-color: #171f73; */
  width: 60px;
}
.listAdminInR{
  display: grid;
grid-template-columns: 10% 90%;
direction: rtl;
}
.listR{
  margin-top: 30%;
}
.container {
  display: flex;
  flex-direction: column;
  direction: rtl;
}
.AddResearchesButtonDiv {
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  width: 200px;
}
.ContentContainer {
  width: 100%;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}
.newcard {
  width: 100%;
  border: 1px;
  border-style: solid;
}
.newcard img {
  width: 300px;
}

.ResearchesDiv {
  display: flex;
  flex-direction: column;
  direction: rtl;

  float: right;

  width: 60%;
  padding-right: 30px;
  margin-top: 10px;
  margin-bottom: 70px;
}
.NewCARD {
  text-align: unset;
  display: flex;
  width: 100%;

  direction: rtl;
  margin-bottom: 10px;
  margin-top: 10px;
}
.NewCARD h1 {
  font-family: 'rubik', sans-serif;
  font-weight: 500;
  font-style: normal;
  text-align: right;
  font-size: 30px;

  line-height: normal;

  color: #285c7e;
  margin: 10px;
}

.NewCARD img {
  width: 300px;
}
.NewCARD h3 {
  font-family: 'rubik', sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #272727;
  text-align: right;
  font-size: 20px;
  line-height: 24px;
  margin: 10px;
}
.ResearchesContent {
  width: 100%;
  padding-top: 30px;
}
.ResearchesDiv input {
  position: relative;
  font-size: 30px;
  font-weight: 800;
  width: 40px;
  height: 40px;
  opacity: 0.6;
  right: 0;
  background-color: red;
  border: none;
  border-radius: 5%;
}
.ResearchesDiv input:hover {
  opacity: 0.9;
  cursor: pointer;
}
.MoreResearchesButton {
  background-color: #285c7e !important ;
  color: white;
  justify-items: right;
  justify-content: right;
  font-size: 1.3rem;
  margin-right: 20px;
  margin-bottom: 40px;
  width: 200px;
  border-radius: 10px;
}
