/** @format */
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://use.typekit.net/lfw8lae.css');
.AddResearchesButton {
  background-color: #285c7e !important ;
  color: white;
  width: 200px;
  font-size: 1.3rem;
  margin-top: 50px;
  padding: 5px;
  height: 40px;
}
.AdminResarchDiv {
  background-color: rgb(255, 255, 255);
  box-shadow: -1px 0 0 rgb(0 0 0 / 10%), -3px 0 9px rgb(0 0 0 / 15%);
  box-sizing: border-box;
  margin-top: 40px !important;
}
.AdminResarchline .hebrwTextDiv {
  margin-top: 20px;
}
.AdminResarchline .allButtons {
  margin-top: 20px;
}
.ResearchesDivAdmin {
  background-color: rgba(245, 245, 245, 0.685);
  width: 80% !important;
}
.AddResearchesButton,
.MoreResearchesButton {
  opacity: 0.8;
}
.AddResearchesButton:hover {
  opacity: 1;
  width: 95%;
}
.MoreResearchesButton:hover {
  opacity: 1;
}
.btnDelete::after {
  background-color: rgba(255, 17, 0, 0.842) !important;
}
.btnn {
  border: none;
  display: block;
  width: 200px;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  background-color: #222;
  padding: 17px 60px;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.btnn span {
  position: relative;
  z-index: 1;
}

.btnn:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 140%;
  background-color: rgba(40, 92, 126, 0.842);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.btnn:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}
.allButtonsAdmin {
  width: 100% !important;
}
.EditSlideShowPage2 {
  height: 43px;
  margin-right: 5px;
  text-decoration: none;
  position: absolute;
  right: 0%;
  top: 0%;
  border-style: none;
  text-align: left;
  border-radius: 30px;
  font-size: 1.4rem;

  width: 60px;
}
.listAdminInR {
  display: grid;
  grid-template-columns: 10% 90%;
  direction: rtl;
}
.listR {
  margin-top: 30%;
}
.container {
  display: flex;
  flex-direction: column;
  direction: rtl;
}
.AddResearchesButtonDiv {
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  width: 200px;
}
.ContentContainer {
  width: 100%;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}
.newcard {
  width: 100%;
  border: 1px;
  border-style: solid;
}
.newcard img {
  width: 300px;
}

.ResearchesDiv {
  display: flex;
  flex-direction: column;
  direction: rtl;

  float: right;

  width: 60%;
  padding-right: 30px;
  margin-top: 10px;
  margin-bottom: 70px;
}
.NewCARD {
  text-align: unset;
  display: flex;
  width: 100%;

  direction: rtl;
  margin-bottom: 10px;
  margin-top: 10px;
}
.NewCARD h1 {
  font-family: 'rubik', sans-serif;
  font-weight: 500;
  font-style: normal;
  text-align: right;
  font-size: 30px;

  line-height: normal;

  color: #285c7e;
  margin: 10px;
}

.NewCARD img {
  width: 300px;
}
.NewCARD h3 {
  font-family: 'rubik', sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #272727;
  text-align: right;
  font-size: 20px;
  line-height: 24px;
  margin: 10px;
}
.ResearchesContent {
  width: 100%;
  padding-top: 30px;
}
.ResearchesDiv input {
  position: relative;
  font-size: 30px;
  font-weight: 800;
  width: 40px;
  height: 40px;
  opacity: 0.6;
  right: 0;
  background-color: red;
  border: none;
  border-radius: 5%;
}
.ResearchesDiv input:hover {
  opacity: 0.9;
  cursor: pointer;
}
.MoreResearchesButton {
  background-color: #285c7e !important ;
  color: white;
  justify-items: right;
  justify-content: right;
  font-size: 1.3rem;
  margin-right: 20px;
  margin-bottom: 40px;
  width: 200px;
  border-radius: 10px;
}
