@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Poppins", sans-serif;
}

.Header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Header img {
  display: block;
}

.NavBar {
  width: 50%;
  direction: rtl;
  padding-left: 15px;
  padding-right: 15px;
  color: #151e4d;
}
.NavBar input {
  direction: rtl;
  font-size: 1.2rem;
}

.NavBar ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  direction: rtl;
}
.NavBar ul li {
  display: inline-block;
  position: relative;
  list-style: none;
  font-weight: 650;
  font-size: 1.2rem;
  direction: rtl;
  padding: 20px;
  padding-top: 40px;
}

.logo {
  height: 70px;
}

.NavBar ul li ul {
  display: none;
  margin-top: 20px;
  position: absolute;
  background-color: #fff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.NavBar ul li:hover ul {
  display: block;
  z-index: 1;
}
.NavBar ul li ul li {
  display: block;
  list-style: none;
  font-weight: 500;
  font-size: 1.1rem;
  direction: rtl;
  text-align: right;
  height: 50px;
  width: 180px;
  padding-top: 5px;
}
.NavBar ul li ul li:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.myslide {
  display: none;
  width: 100%;
}
.myslide img {
  width: 100%;
}

.slideShow-container {
  position: relative;
  width: 70%;
  margin: 0 auto;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.News {
  display: block;
  flex-direction: column;
  direction: rtl;
  width: 100%;
  margin-top: 10px;
}
.News h2 {
  text-align: center;
}
.NewsCard {
  text-align: unset;
  display: flex;
  width: 100%;
  direction: rtl;
  margin-bottom: 20px;
  margin-top: 20px;
}
.NewsCard:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.CardBody {
  width: 100%;
}
.NewsCard h1 {
  text-align: right;
  font-weight: 300;
  font-size: 1.5rem;
  margin: 10px;
}
.NewsCard h1:hover {
  color: #1abc9c;
  cursor: pointer;
}
.NewsCard h3 {
  text-align: right;
  font-weight: 200;
  font-size: 1.3rem;
  margin: 10px;
}
.News a {
  text-decoration: none;
  text-align: right;
  width: 100%;
  color: #1abc9c;
  font-size: 1.4rem;
}
.MainSection {
  display: flex;
  direction: rtl;
  width: 100%;
  margin-top: 20px;
}
.NewsAndEvents {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-right: 15%;
  padding: 0 15px;
}
.Ads {
  display: flex;
  flex-direction: column;
  width: 20%;
  padding: 0 15px;
}
.Ads .SideWidget {
  width: 100%;
  margin-bottom: 30px;
}

.Event {
  padding: 5px;
}
.Event:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.Events {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  gap: 15px;
  text-align: center;
  width: 100%;
}
.eventImg {
  width: 100%;
}

.EventsContainer {
  width: 100%;
  direction: rtl;
  margin-left: auto;
}

.EventsContainer h2 {
  text-align: center;
}
.Event h6 {
  text-align: right;
  margin-right: 10px;
  font-size: 1.1rem;
  color: #3f3f3f86;
}

.Event h5 {
  text-align: right;
  font-size: 1.2rem;
  font-weight: 300;
  direction: rtl;
  margin: 10px;
}

.EventsContainer a {
  text-decoration: none;
  text-align: right;
  width: 100%;
  color: #1abc9c;
  font-size: 1.4rem;
}

@media screen and (max-width: 1300px) {
  .NavBar {
    display: none;
  }
  .NewsCard {
    text-align: unset;
    display: flex;
    width: 100%;
    direction: rtl;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .CardImg {
    margin-left: auto;
    margin-right: auto;
  }
  .NewsCard h1 {
    text-align: right;
    font-size: 1.4rem;
  }
  .NewsCard h3 {
    text-align: right;
    font-size: 1.2rem;
  }
  .Events {
    grid-template-columns: repeat(2, 1fr);
  }
  .slideShow-container {
    width: 100%;
  }
  .NewsAndEvents {
    margin: 0 30px 0 15px;
    width: 60%;
  }
}

@media screen and (max-width: 800px) {
  .MainSection {
    flex-direction: column;
  }
  .Header img {
    width: 100%;
  }
  .NewsCard {
    flex-direction: column;
  }
  .NewsCard h1 {
    text-align: right;
  }
  .NewsCard h3 {
    text-align: right;
  }
  .EventsContainer {
    margin: 0;
  }
  .NewsAndEvents {
    margin: 0;
    width: 100%;
  }
  .NavBar {
    display: none;
  }
  .slideShow-container {
    width: 100%;
  }
  .slideShow-container img {
    height: 305px;
  }
  .Ads {
    width: 100%;
  }

  .Ads .SideWidget {
    display: flex;
    justify-content: center;
  }
  .Events {
    grid-template-columns: repeat(1, 1fr);
  }

  .Events Img {
    width: 60%;
  }
}
