/** @format */

.map {
  width: max-content;
  height: max-content;
  background-color: aquamarine;
}
.Mapdiv {
  position: absolute;

  background-color: beige;
  height: max-content;
  width: max-content;
}
