/** @format */

.map {
  width: max-content;
  height: max-content;
  margin-right: 60px;
}
.Mapdiv {
  display: flex;
  direction: rtl;

  box-sizing: border-box;
  height: max-content;
  width: 100%;
}
