/** @format */

.BotPageButton {
  position: fixed;
  z-index: 4;
  bottom: 20px;
  right: 40px;
  width: 50px;
  padding: 10px;
  border: none;
  border-radius: 50%;
  border-color: rgb(72, 145, 252);
  background-color: rgb(72, 145, 252);
}
.BotPageButton:hover {
  width: 45px;
}
.material-icons {
  color: white;
}
